<table>
    <tr>
      <th>Title</th>
      <th>Subject</th>
    </tr>

    <% @user.questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.subject %></td>
      </tr>
    <% end %>
</table>